
.gallery-opened
{
	display: flex;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin: auto;
	position:fixed;
	z-index: 1;
	width:100%;
	height: 100%;
	background-color: rgba(43, 42, 42, 0.85);
	display:none;
}

.gallery-opened .zoom-image
{
	display: flex;
	position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin: auto;
	max-width: 60%;
	max-height: 75%;
	border: 12px solid white;
}

.close-button
{
	position: absolute;
	z-index: 2;
	height: 30px;
	width: 30px;
	margin-left:82.5%;
	margin-top: 3%;
}

.container h1
{
	color: #602901;
}